

  .card {
    box-shadow: 7px 7px 6px #9793936f;;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 16px 16px rgba(186, 177, 177, 0.767);
  }
  